dist/

.env

microservices/services/summary/gguf-models/

microservices/services/summary/__pycache__/

microservices/services/audio-processing/voicevox_core/model
microservices/services/audio-processing/voicevox_core/open_jtalk_dic_utf_8-1.11
