anyio==4.4.0
autopep8==2.3.1
bidict==0.23.1
blinker==1.8.2
cachetools==5.5.0
certifi==2024.8.30
charset-normalizer==3.3.2
click==8.1.7
distro==1.9.0
dnspython==2.6.1
eventlet==0.37.0
Flask==3.0.3
Flask-Cors==5.0.0
Flask-SocketIO==5.3.7
google-api-core==2.19.2
google-auth==2.34.0
google-cloud-speech==2.27.0
google-cloud-texttospeech==2.18.0
googleapis-common-protos==1.65.0
greenlet==3.1.1
grpcio==1.66.1
grpcio-status==1.66.1
h11==0.14.0
httpcore==1.0.5
httpx==0.27.2
idna==3.10
itsdangerous==2.2.0
Jinja2==3.1.4
jiter==0.5.0
MarkupSafe==2.1.5
mysql-connector-python==9.1.0
numpy==2.1.1
openai==1.46.0
proto-plus==1.24.0
protobuf==5.28.1
psycopg2==2.9.10
pyasn1==0.6.1
pyasn1_modules==0.4.1
PyAudio==0.2.14
pycodestyle==2.12.1
pydantic==1.10.18
pydub==0.25.1
python-dotenv==1.0.1
python-engineio==4.9.1
python-socketio==5.11.4
redis==5.1.1
requests==2.32.3
rsa==4.9
simple-websocket==1.0.0
sniffio==1.3.1
tornado==6.4.1
tqdm==4.66.5
typing_extensions==4.12.2
urllib3==2.2.3
voicevox_core @ file:///Users/youngman/practice/LiveTrancer/voicevox_core-0.15.4%2Bcpu-cp38-abi3-macosx_11_0_arm64.whl#sha256=9c44e06caf0f7bec947c37b8b417384de2661de41ca0c58171f0a71f2b479bec
websocket-client==1.8.0
websockets==13.1
Werkzeug==3.0.4
wsproto==1.2.0
