.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  /* height: 100vh; */
  max-width: 1000px;
  margin: 0 auto;
  background-color: #fff;
  /* overflow-y: auto; */
}

.none { display: none; }

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #818181;
  border-radius: 10px;
  border: 1px solid #818181;
  margin-bottom: 20px;
}

.chatBox {
  flex-grow: 1;
  overflow-y: auto;
  /* padding: 20px; */
  background-color: white;
  /* border-radius: 10px;
  border: 1px solid #ddd; */
  margin-top: 20px;
  margin-bottom: 20px;
}

.chatLog {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.emptyMessage {
  color: #aaa;
  text-align: center;
}

.userMessage {
  align-self: flex-end;
  background-color: #7f7f7f;
  color: white;
  padding: 10px 15px;
  border-radius: 15px;
  max-width: 70%;
  word-wrap: break-word;
}

.aiMessage {
  align-self: flex-start;
  background-color: #d3d3d3;
  color: #767676;
  padding: 10px 15px;
  border-radius: 15px;
  max-width: 70%;
  word-wrap: break-word;
}

.inputContainer {
  padding: 10px;
  background-color: white;
  padding-bottom: 10px;
  /* border-radius: 10px;
  border: 1px solid #ddd; */
  position: fixed;      
  bottom: 0;
  left: 0;
  width: 100%;          
  /* box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.1);   */
}

.recordContainer {
  padding: 10px;
  background-color: white;
  padding-bottom: 10px;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

.recordBox {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #d1d1d1;
  height: 100%;
}

.inputBox {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
}

.modeSwitch {
  position: absolute;
  display: flex;
  align-items: center;
  left: 30%;
  /* padding-left: 20%;
  padding-right: 40px; */
  background-color: white;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  
}

.modeSwitch > .modeSwitchIcon {
  font-size: 27px;
  transform: rotate(-45deg);
  color: #999999;
  transition: color 0.3s ease;
}

.modeSwitch > .modeSwitchIcon:hover {
  color: #444444;
}

.recordButton {
  /* font-size: 18px; */
  padding: 20px;
  margin: 0 auto;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s ease;
  background-color: #767676;
  color: white;
}

.recordButton:hover {
  background-color: #444444;
}

.recordButton > .microphone {
  font-size: 24px;
}

.onRecord {
  padding: 20px;
  margin: 0 auto;
  border: none;
  border-radius: 50%;
  background-color: #d1d1d1;
  color: black;
}

.onRecord > .recordingPhone {
  font-size: 100px;
}
@media (max-width: 768px) {
  .recordContainer{
    height: 40%;
  }
  .recordBox {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #d1d1d1;
    height: 100%;
  }

  .modeSwitch {
    
  }
}
/* .textArea {
  flex-grow: 1;
  height: 50px;
  padding: 10px;
  font-size: 16px;
  border-radius: 10px;
  border: 1px solid #ddd;
  resize: none;
  outline: none;
}

.sendButton {
  margin-left: 10px;
  padding: 10px 20px;
  background-color: #0070f3;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
} */