@font-face {
    font-family: 'Ibara Real Nova'; 
    src: url('/fonts/IbarraRealNova-Regular.ttf') format('truetype'); /* フォントの形式に合わせて指定 */
    font-weight: normal; /* 通常の太さ */
    font-style: normal;   /* 通常のスタイル */
}
  
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  max-width: 100%;
  margin: 0 auto;
  background-color: #fff;
}

.generalButton{}

.professionalButton{}