@font-face {
    font-family: 'Ibara Real Nova'; 
    src: url('/fonts/IbarraRealNova-Regular.ttf') format('truetype'); /* フォントの形式に合わせて指定 */
    font-weight: normal; /* 通常の太さ */
    font-style: normal;   /* 通常のスタイル */
}

@font-face {
  font-family: 'Noto Serif JP';
  src: url('/fonts/NotoSerifJP-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  max-width: 100%;
  margin: 0 auto;
  background-color: #fff;
}

.title{
  font-family: 'Noto Serif JP', serif;
  color:#a19690;
  font-size: 48px;
}
.generalButton{}

.professionalButton{}