@font-face {
    font-family: 'Ibara Real Nova'; 
    src: url('/fonts/IbarraRealNova-Regular.ttf') format('truetype'); /* フォントの形式に合わせて指定 */
    font-weight: normal; /* 通常の太さ */
    font-style: normal;   /* 通常のスタイル */
}
  
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  max-width: 100%;
  margin: 0 auto;
  background-color: #fff;
  /* overflow-y: auto; */
}

.title{
    font-family:"Ibarra Real Nova", serif;
    font-size: 128px;
    color:black;
    margin: 30px 0;
}

.description{
    font-size: 28px;
    margin: 0;
}

.startButton{
    background: linear-gradient(to right, #f7acbb, #b4fdde);
    width: 202px;
    height: 80px;
    border-radius: 3%;
    border: none;
    margin-top: 50px;
    cursor: pointer;
}
.startButton > .Start{
    font-family: 'Ibara Real Nova', serif;
    font-size: 30px;
    color: white;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    cursor: pointer;
}