.topSection {
  background-image: url("/images/electricBackground.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.centerPeople {
  background-image: url("/images/people.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 50%;
  height: 40vh;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0.85;
  z-index: 1;
}

.centerPeopleContent {
  text-align: center;
  color: white;
  padding: 80px;
  margin-top: 20vh;
  z-index: 2;
  position: relative;
  opacity: 1;
  background: linear-gradient(90deg, #ffff20, #ff00ff, #10a7ff);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.centerPeopleContent h1 {
  font-size: 5rem;
  margin-bottom: 20px;
}

.centerPeopleContent p {
  font-size: 1.2rem;
  margin-top: 10px;
}
