.topSection {
  background: linear-gradient(#000000, #121212, #000000);
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  
}

.content {
  text-align: center;
  color: white;
  padding: 40px;
  margin-top: 20vh;
  margin-bottom: 15vh;
  z-index: 2;
  position: relative;
  opacity: 1;
  background: linear-gradient(90deg, #ffff20, #ff00ff, #ff4800);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.content h1 {
  font-size: 5rem;
  margin: 30px;
}

.content p {
  font-size: 1.2rem;
  margin-top: 10px;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
}
