.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  max-width: 1000px;
  margin: 0 auto;
  background-color: #f7f7f7;
}

.header {
  background-color: #ffffff; /* ヘッダーも白 */
  border-bottom: 1px solid #ddd;
  padding: 10px 20px;
}

.nav {
  display: flex;
  justify-content: flex-start;
}

.navList {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 20px;
}

.navItem {
  margin: 0;
}

.navLink {
  text-decoration: none;
  color: #0070f3; /* リンクの色 */
  font-size: 18px;
}

.navLink > .mic {
  color: grey;
}


.main {
  flex: 1;
  padding: 20px;
  background-color: #f7f7f7; /* チャットコンテンツ領域はライトグレー */
  overflow-y: auto;
}

.footer {
  background-color: #ffffff; /* フッターも白 */
  border-top: 1px solid #ddd;
  padding: 10px 20px;
  text-align: center;
  color: #777777;
}