
.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  /* max-width: 1000px; */
  margin: 30px auto;
  background-color: white;
}

.header {
  background-color: white; /* ヘッダーも白 */
  border-bottom: 1px solid #ddd;
  position: fixed;      /* ページに固定 */
  top: 0;            /* 画面下に配置 */
  left: 0;
  width: 100%;          /* 横幅を画面いっぱいにする */
  margin: 0 auto;       /* ページ中央に配置 */
  width: 100%;
}

.nav {
  display: flex;
  justify-content: center;
  width: 100%;

}

.navList {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;

  width: 100%;
}

.navItem {
  flex: 1;
  text-align: center;
  padding: 1% 0;
}

.navLink {
  text-decoration: none;
  color: #ffb4b3; /* リンクの色 */
  font-size: 24px;
  font-family: 'Jersey 15';
}

.navLink_pro {
  text-decoration: none;
  color: #83d8c3; /* リンクの色 */
  font-size: 24px;
  font-family: 'Jersey 15';
}

.navLink > .mic {
  color: white;
}


.main {
  flex: 1;
  /* padding: 20px; */
  /* background-color: #f7f7f7;  */
  /* overflow-y: auto; */
}

.footer {
  background-color: #ffffff; /* フッターも白 */
  border-top: 1px solid #ddd;
  padding: 10px 20px;
  text-align: center;
  color: #777777;
}

@media (max-width: 768px) {
  .nav {
    flex-direction: column;
  }

  .navLink {
    font-size: 15px;
  }

  .navItem {
    padding: 2% 0;
  }

  .navItem:first-child {
    text-align: center;
    padding-left: 0;
  }

  .navItem:last-child {
    text-align: center;
    padding-right: 0;
  }
}