<!DOCTYPE html>
<html>
<head>
    <title>WebSocket Chat</title>
</head>
<body>
    <input id="message_input" autocomplete="off" /><button id="send">Send</button>
    <ul id="messages"></ul>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
    <script type="text/javascript">
        const socket = io.connect('/demo')

        socket.on('message', (data) => {
            console.log('message', data)
            const li = document.createElement('li')
            li.appendChild(document.createTextNode(data))
            document.getElementById('messages').appendChild(li)
        })

        document.getElementById('send').addEventListener('click', (e) => {
            const message_input = document.getElementById('message_input')
            const message = message_input.value
            socket.emit('message', message)
            message_input.value = ''
        })

        document.getElementById('message_input').addEventListener('keydown', (e) => {
            if (e.keyCode === 13) {
                const message_input = document.getElementById('message_input')
                const message = message_input.value
                socket.emit('message', message)
                message_input.value = ''
            }
        })
    </script>
</body>
</html>
