.button {
  background-color: #efefef;
  border: 1px solid black;
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-bottom: 10px;
}

.button:hover {
  background-color: rgb(255, 255, 255);
}
