.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f0f0f0;
  padding: 20px;
}

.title {
  font-size: 2rem;
  font-weight: bold;
  font-family: 'Noto Serif JP';
  margin-bottom: 2rem;
  text-transform: uppercase;
  text-align: center;
}

.buttonContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  max-width: 1200px;
}

.trialContainer {
  width: 100%;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.trialButton {
  width: 100%;
  padding: 10px;
  font-size: 1.2rem;
  background-color: #f7acbb;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: auto;
}

.trialButton:hover {
  background-color: #3dd7d0;
}

.trialContainer {
  font-family: 'Noto Serif JP';
  text-align: center;
}

.trialContainer p {
  font-size: 1.0rem;
  font-weight: bold;
  margin-bottom: 1rem;
  text-align: left;
}

/* モバイル用のレスポンシブ */
@media (max-width: 767px) {
  .buttonContainer {
    flex-direction: column;
  }

  .trialContainer {
    width: 100%;
  }

  .trialContainer p {
    font-size: 0.8rem;
  }
}

/* タブレット用のレスポンシブ */
@media (max-width: 1023px) {
  .title {
    font-size: 2.2rem;
  }

  .trialContainer {
    width: 70%;
  }

  .trialContainer p {
    font-size: 1.0rem;
  }
}
