.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f0f0f0;
  padding: 20px; /* モバイル端末向けの余白 */
}

.title {
  font-size: 2rem; /* モバイル端末用に少し小さめに設定 */
  font-weight: bold;
  font-family: 'Noto Serif JP';
  margin-bottom: 2rem;
  text-transform: uppercase;
  text-align: center;
}

.buttonContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  max-width: 1200px;
}

.generalContainer, .trialContainer {
  width: 100%; /* モバイル端末では全幅 */
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 20px; /* モバイルではスペースを追加 */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.generalButton, .trialButton {
  width: 100%;
  padding: 10px;
  font-size: 1.2rem;
  background-color: #f7acbb;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: auto;
}

.generalButton:hover {
  background-color: #f7acbb;
}
.trialButton:hover {
  background-color: #3dd7d0;
}

.generalContainer p, .trialContainer p {
  font-size: 1.2rem; /* モバイルではフォントサイズを少し小さく */
  font-weight: bold;
  margin-bottom: 1rem;
}

.generalContainer {
  font-family: 'Noto Serif JP';
  text-align: center;
}

.trialContainer {
  font-family: 'Noto Serif JP';
  text-align: center;
}

/* タブレット用のレスポンシブ */
@media (min-width: 768px) {
  .buttonContainer {
    flex-direction: row;
  }

  .generalContainer, .trialContainer {
    width: 45%; /* タブレットでは50%幅に設定 */
    margin-bottom: 0;
  }

  .generalContainer p, .trialContainer p {
    font-size: 1.4rem; /* タブレット用のフォントサイズ */
  }
}

/* デスクトップ用のレスポンシブ */
@media (min-width: 1024px) {
  .title {
    font-size: 2.5rem; /* デスクトップ用の大きなタイトル */
  }

  .generalContainer, .trialContainer {
    width: 30%; /* デスクトップでは30%幅 */
  }

  .generalContainer p, .trialContainer p {
    font-size: 1.5rem; /* デスクトップ用のフォントサイズ */
  }
}
